.sb-topnav {
    background-color: rgb(97, 146, 105) !important ; 
}
.sb-sidenav {
    background-color: rgb(116, 158, 123);
}
.sb-sidenav-footer {
    background-color: rgb(157, 189, 162) !important;
}